.search-container {
  .search-input {
    padding: 12px 15px;
    border: 1px solid rgba(13, 48, 72, 0.9);
    border-radius: 5px;
    outline: none;
    width: 50%;
  }
  .table-container {
    margin: 0;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
  }
}
